/* ---- Variables de couleur pour thème ---- */
:root{
    --playercolor: #000066;
    --computercolor:#800000;
}

body {
    border-radius: border;
    background-color: #35654d;
    font-family: 'Sono', sans-serif;
}

li {
    margin: 0.5rem;
}

strong {
    font-weight: 800;
}


h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    text-align: center;
    height: 10vh;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 800;
}

.footer {
    height: 5vh;
    text-align: center;

}

.wrapper {
    width: 80%;
    height: 80vh;
    font-size: 2rem;
    display: flex;   
    flex-wrap: wrap;
    margin: auto;
}
    
.row_computer, .row_cards, .row_status, .row_player, .row_play{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rulesBox {
    position: absolute;
    border: 3px black solid;
    background-color: #ffcc00;
    border-radius: .5rem;
    width: 400px;
    height: 400px;
    z-index: 6;  
    display: none;  
}


.displayOn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.divCloseRules {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#closeRules {
    width: 2rem;
    height: 2rem;    

}

.rules {
    font-size: 1rem;
    margin: 2rem;
}


.tag {
    border: 3px black solid;
    border-radius: .5rem;
    height: 2.5rem;
    width: 20rem;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: 2rem;
}

/* CSS pour les boutons Play et End Game */

.smallBtn {
    border: 3px black solid;
    border-radius: .5rem;
    height: 2.5rem;
    width: 7rem;
    padding: .2rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 1;
}

/* CSS pour les animations des boutons Play et End Game */

.smallBtn:hover {
    color: white;
    transition: 2s all ease;
}

.smallBtn::before {
    content: '';
    background: var(--computercolor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s all ease;
    width: 0%;
    height: 100%;
    z-index: -1;
}

.smallBtn:hover::before {
    width: 100%;
}

/* CSS pour les cartes */

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 90%;
    width: 8rem;
    margin: 2rem;
    background-color: white;
    position: relative;
}

/* card::before et after permettent de générer les valeurs de cartes en haut à gauche et en bas à droite sur les cartes ouvertes */
.card:before, .card:after {
    content: attr(data-value);
    position: absolute;

}

.card:before {
    top: .5rem;
    left: .5rem;
}

.card:after {
    rotate: 180deg;
    bottom: .5rem;
    right: .5rem;

}

.computer.tag {
    background-color: var(--computercolor);
    color: white;
}

.player.tag {
    background-color: var(--playercolor);
    color: white;
}

/* .deck et .deck::before permettent de faire la doublure de couleur blanche sur le deck */
.deck {
    background-color: white;
}

.deck::before {
    content:"";
    border-radius: .3rem;
    height: 95%;
    width: 93%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.player.deck::before {
    background-color: var(--playercolor);
}
.computer.deck::before {
    background-color: var(--computercolor);
}

/* classe utilisée pour mettre au nombre de cartes restant dans le deck de passer au premier plan */
.nbCardComputer, .nbCardPlayer {
    color: white;
    z-index: 4;
}

.status {
    background-color: #ffcc00;
}

.row_play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play:hover {
    background-color: var(--computercolor);
    transform: scale(120%);
    transition: 1s;
}

.red {
    color: red;
}

/* animation end of game */

@keyframes fadeinandout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.endofgame {
    background-color: var(--computercolor);
    transform: scale(140%);
    transition: 2s;
    animation: fadeinandout 2s ease-in-out infinite;

}